{% extends 'base.html.twig' %}

{% block title %}Hello MatiereController!{% endblock %}

{% block body %}

    <div class="container">
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Coefficient</th>
                <th>Action</th>
            </tr>
        {% for element in matieres %}
            <tr>
                <td>{{ element.nom }}</td>
                <td>{{ element.coefficient }}</td>
                <td><button><a href= {{path('matiere', {'id': element.id})}}>Voir Matiere</a></button></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {{form(ajout)}}
{% endblock %}
