{% extends 'base.html.twig' %}

{% block title %}Hello MatiereController!{% endblock %}

{% block body %}

    <div class="container">
        {% for element in matieres %}
            <div>
                <p>{{ element.nom }}</p>
                <p>{{ element.coefficient }}</p>
                <button><a href= {{path('matiere', {'id': element.id})}}>Voir Matiere</a></button>
            </div>
        {% else %}
            <h1>Il n'y a pas de matiere</h1>
        {% endfor %}
    </div>
    {{form(ajout)}}
{% endblock %}
